@font-face {
    font-family: 'RSU';
    src: url('RSU-Bold.eot');
    src: url('RSU-Bold.eot?#iefix') format('embedded-opentype'),
        url('RSU-Bold.woff2') format('woff2'),
        url('RSU-Bold.woff') format('woff'),
        url('RSU-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'RSU';
    src: url('RSU.eot');
    src: url('RSU.eot?#iefix') format('embedded-opentype'),
        url('RSU.woff2') format('woff2'),
        url('RSU.woff') format('woff'),
        url('RSU.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RSU';
    src: url('RSU-Light.eot');
    src: url('RSU-Light.eot?#iefix') format('embedded-opentype'),
        url('RSU-Light.woff2') format('woff2'),
        url('RSU-Light.woff') format('woff'),
        url('RSU-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

