/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}

@font-face {
    font-family: 'Ekkamai Standard';
    src: url('../../fonts/EkkamaiStandard-Light.eotEkkamaiStandard-Light.eot');
    src: url('../../fonts/EkkamaiStandard-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/EkkamaiStandard-Light.woff2') format('woff2'),
        url('../../fonts/EkkamaiStandard-Light.woff') format('woff'),
        url('../../fonts/EkkamaiStandard-Light.ttf') format('truetype'),
        url('../../fonts/EkkamaiStandard-Light.svg#EkkamaiStandard-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PSL Kanda Modern ExtraSP';
    src: url('../../fonts/PSLKandaModernExtraSP.eot');
    src: url('../../fonts/PSLKandaModernExtraSP.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/PSLKandaModernExtraSP.woff2') format('woff2'),
        url('../../fonts/PSLKandaModernExtraSP.woff') format('woff'),
        url('../../fonts/PSLKandaModernExtraSP.ttf') format('truetype'),
        url('../../fonts/PSLKandaModernExtraSP.svg#PSLKandaModernExtraSP') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PSL Kanda Modern ExtraSP';
    src: url('../../fonts/PSLKandaModernExtraSPItalic.eot');
    src: url('../../fonts/PSLKandaModernExtraSPItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/PSLKandaModernExtraSPItalic.woff2') format('woff2'),
        url('../../fonts/PSLKandaModernExtraSPItalic.woff') format('woff'),
        url('../../fonts/PSLKandaModernExtraSPItalic.ttf') format('truetype'),
        url('../../fonts/PSLKandaModernExtraSPItalic.svg#PSLKandaModernExtraSPItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'sd hall';
    src: url('../../fonts/sdhall-Regular.eot');
    src: url('../../fonts/sdhall-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/sdhall-Regular.woff2') format('woff2'),
        url('../../fonts/sdhall-Regular.woff') format('woff'),
        url('../../fonts/sdhall-Regular.ttf') format('truetype'),
        url('../../fonts/sdhall-Regular.svg#sdhall-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sukhumvit Set';
    src: url('../../fonts/SukhumvitSet-Light.eot');
    src: url('../../fonts/SukhumvitSet-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/SukhumvitSet-Light.woff2') format('woff2'),
        url('../../fonts/SukhumvitSet-Light.woff') format('woff'),
        url('../../fonts/SukhumvitSet-Light.ttf') format('truetype'),
        url('../../fonts/SukhumvitSet-Light.svg#SukhumvitSet-Light') format('svg');
    font-weight: 400;
    font-style: normal;
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
	background: #f2f2f2;
}

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #333333;
  line-height: 1.5;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  
  width: 100%;  
  
  min-height: 71vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;  
}

 .wrap-login100 {
 		width: 350px;
 		background: #fff;
 		border-radius: 10px;
 		overflow: hidden;
 		padding: 45px 50px 5px 50px;
		box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
 }



#wrapper {
    width: 100%;
    overflow: hidden;
}



#container {
    width: 100%;
    margin: 0 auto;
}
.banner-img {
    width: 100%;
display: block;
margin-left: auto;
margin-right: auto;display: block;
margin-left: auto;
margin-right: auto;display: block;
margin-left: auto;
margin-right: auto;display: block;
margin-left: auto;
margin-right: auto;-moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
	
}

.login100-form-title {
  display: block;
  font-family: sd hall;
  font-size: 45px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}
.login100-form-title i {
  font-size: 60px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input100 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

/*---------------------------------------------*/ 
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #6a7dfe;
  background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  background: -o-linear-gradient(left, #21d4fd, #b721ff);
  background: -moz-linear-gradient(left, #21d4fd, #b721ff);
  background: linear-gradient(left, #21d4fd, #b721ff);
}

.focus-input100::after {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
  top: -15px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -15px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

/*---------------------------------------------*/
.btn-show-pass {
  font-size: 15px;
  color: #999999;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding-right: 5px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-show-pass:hover {
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}

.btn-show-pass.active {
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}



/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.login100-form-bgbtn {
	position: absolute;
	z-index: -1;
	width: 300%;
	height: 100%;
	background: #a64bf4;
	background: -webkit-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
	background: -o-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
	background: -moz-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
	background: linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
	top: 1px;
	left: -394px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.login100-form-btn {
  font-family: PSL Kanda Modern ExtraSP;
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
  left: 0;
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 77px 15px 33px 15px;
  }
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #c80000;

  display: block;
  position: absolute;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}



.table-bn {
  table-layout: auto;
  width: 100%;
  white-space: inherit;
}
.table-bn td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

 .row-full{
 width: 100vw;
 position: relative;
 margin-left: -50vw;
 height: 100px;
 margin-top: 100px;
 left: 50%;
}

.col-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
}

.col {
    display: table-cell; /* Make elements inside the container behave like table cells */
}

.container-cat {
  
  width: 100%;  
  
  min-height: 71vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: st;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;  
}

.wrap-register {
  width: 850px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 55px 50px 40px 100px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);	
}

.wrap-sp {
  width: 1000px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 55px 50px 40px 50px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);	
}

.wrap-main {
  width: 1100px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 40px 35px 25px 35px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);	
}

.wrap-cat {
  width: 800px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 40px 35px 25px 35px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);	
}
.wrap-fac {
  width: 1000px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 40px 35px 25px 35px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);	
}
.wrap-memtype {
  width: 600px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 40px 35px 25px 35px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);	
}
.wrap-titlneme {
  width: 800px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 40px 35px 25px 35px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);	
}
.wrap-dept {
  width: 1000px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 40px 35px 25px 35px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);	
}
.wrap-member {
  width: 1550px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 40px 35px 25px 35px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);	
}
.wrap-advisor {
  width: 1200px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 40px 35px 25px 35px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);	
}
.wrap-pro{
  width: 1400px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 40px 35px 25px 35px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);	
}
.wrap-conta{
  width: 900px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 40px 35px 25px 35px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);	
}


.label_form_font{
	font-family: "Ekkamai Standard";
	font-weight: bold;
	font-size: 16px;
	text-align: left;
	margin-right: 0;
}

.font_ek_14{
	font-family: "Ekkamai Standard";
	font-weight: normal;
	font-size: 14px;
}

.labelH_form_font{
  font-family: 'Ekkamai Standard';
  font-weight: bolder;
  font-size: 22px;
  color: #000000;
}

.label_formt_font{
  font-family: 'Ekkamai Standard';
  font-weight: bolder;
  font-size: 18px;
  color: #000000;
}

.cc-select{
  display: inline-block;
  width: 100%;
  height: calc(2.06rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
  background-size: 8px 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
